
<br>
<div class="container">
  <div class="row">
    <%= render "users/signed_in_sidebar" %>
    <div class="col-md-7">
      <!-- this is the main section -->
      <div class="well well-sm">
        <p></p>
    
        <h4>Give feedback for <%= @user.name %></h4>

        <div class="row">
          <div class="col-md-5" align="left">
            <p>Let your coworker know how he or she is doing in these five key areas. </p>
            <p></p>
            <p>10 is Best</p>
            <p></p>
            <p>1 is Worst</p>
            <p></p>
            <p>0 means "no rating given"</p>

          </div>
          <div class="col-md-5">
          Results: <span id="resultsRange">0</span>
          <input type="range" min="0" max="10" value="0" step="1" onchange="resultsValue(this.value)" />
          Job Knowledge: <span id="jkRange">0</span>
          <input type="range" min="0" max="10" value="0" step="1" onchange="jkValue(this.value)" />
          Initiative: <span id="initiativeRange">0</span>
          <input type="range" min="0" max="10" value="0" step="1" onchange="initiativeValue(this.value)" />          
          Communication: <span id="commRange">0</span>
          <input type="range" min="0" max="10" value="0" step="1" onchange="commValue(this.value)" />          
          Leadership: <span id="leadershipRange">0</span>
          <input type="range" min="0" max="10" value="0" step="1" onchange="leadershipValue(this.value)" />          

          <script type="text/javascript">
          function resultsValue(newValue)
          {
            document.getElementById("resultsRange").innerHTML=newValue;
          }
          function jkValue(newValue)
          {
            document.getElementById("jkRange").innerHTML=newValue;
          }
          function initiativeValue(newValue)
          {
            document.getElementById("initiativeRange").innerHTML=newValue;
          }
          function commValue(newValue)
          {
            document.getElementById("commRange").innerHTML=newValue;
          }
          function leadershipValue(newValue)
          {
            document.getElementById("leadershipRange").innerHTML=newValue;
          }
          </script>

            
          </div>
        </div>
      </div>
      <div class="well well-sm">
        <p></p>

        <h4>Select attributes that apply to <%= @user.name %> </h4>Select as many or as few as you wish to describe <%= @user.name%>'s job performance

          <% all_attributes = Attribute.all %>

          <%= form_tag("/feedbacks/complete/"+params[:id],  :method => "post", :remote => true) do %> <%# from codelearn.org %>
          
          <% all_attributes.each do |attribute| %> 
            <% if attribute.good == 'true' %>
              <div class="col-md-6" >
                <label>
                  <%= check_box_tag  ("attribute_checkbox[]"),attribute.id %><%=  attribute.attribute_name %> 
                </label> 
              </div>  
              <div class="col-md-6">
                <label>
                  <%= check_box_tag  ("attribute_checkbox[]"),attribute.opposite_id %><%=  all_attributes.find(attribute.opposite_id).attribute_name%>
                </label>
              </div>  
            <% end %>  

          <%end%>
          
          <%= submit_tag("Submit feedback", :class=>"btn btn-success") %>
          <%end %>

        
      </div> 
    </div>
  </div>
</div>